<div class="feature-table row mt-10 pos-absolute-md">
  <% @posts.each do |post| %>
    <div class="cell-md-4">
      <div class="card bg-grayBlue">
        <div class="card-header"  style="padding: 20px;">
          <h2><%= post.title %></h2>         
        </div>
        <div class="card-content p-2">
        	<%= image_tag post.thumb_image.url, :class => 'thumb_image rounded', height: '300px' %>

          <p class="fg-gray">Posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago.</p>
          
          <%= post.body.truncate(120) %>
        </div>
        <div class="card-footer">
          <button class="button bg-gray rounded"><%= link_to 'Show', post, {:style=>'color:black; text-decoration: none;'} %></button>

          <% if logged_in?(:site_admin) %>
            <%= link_to '', edit_post_path(post.id), class: 'mif-pencil mif-3x fg-black' %>
            <%= link_to '', post_path(post), method: :delete, id: "delete_post_#{post.id}_from_index", class: 'mif-bin mif-3x fg-black', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %> 
</div>

  <% if logged_in?(:site_admin) %>
    <button class="button dark large rounded pos-fixed pos-bottom-center">
      <%= link_to ' Create New Post', new_post_path, {:style=>'color:white; text-decoration: none;'} %>
    </button>
  <% end %>


